/MachineLearning/MNISTClassActivationMap/model/*
/MachineLearning/MNISTClassActivationMap/model_cam/*
/MachineLearning/MNISTClassActivationMap/.idea/*
/MachineLearning/MNISTGradCAM/model_gradcam/*
/MachineLearning/MNISTGradCAM/.idea/*
/MachineLearning/MNISTGradCAMPlusPlus/.idea/*
/MachineLearning/MNISTGradCAMPlusPlus/model_gradcam/*
/ComputerGraphics/SpatialHeatMap/node_modules/*
*.iml
*.xml
*.pt
MachineLearning/MNISTGAN/mnist_data/MNIST/raw/train-images-idx3-ubyte
*.gz
MachineLearning/MNISTGAN/mnist_data/MNIST/raw/t10k-images-idx3-ubyte
MachineLearning/MNISTGAN/mnist_data/MNIST/raw/t10k-labels-idx1-ubyte
MachineLearning/MNISTGAN/mnist_data/MNIST/raw/train-labels-idx1-ubyte
*.bmp
*.jpg
*.tga
ComputerGraphics/Iris/.vs/Iris/v16/.suo
*.db
*.ipch
